.contenedor {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 2px solid #2C2C2C;
  border-radius: 10px;
  background-color: #1E1E1E;
}

.formulario h2 {
  color: white;
}



.informacion {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.informacion label {
  color: white;
}

.informacion input {
  outline: none;
  padding: 5px;
}

.btnIngresar {
  border: none;
  background-color: rgba(1, 89, 252, 0.829);
  color: white;
  border-radius: 10px;
  width: 150px;
  padding: 10px;
}

.enlace {
  margin-top: 15px;
  font-size: 13px;
  color: white;
}

.link {
  color: white;
}

@media only screen and (min-width: 480px) {
  .informacion input {
    outline: none;
    padding: 5px;
    width: 250px;
  }

  .enlace {
    font-size: 15px;
  }
}
