.productoContenedor {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
  max-width: 300px;
  margin: 16px;
  z-index: 1;
}

.productoFoto {
  border-radius: 15px 15px 0px 0px;
  height: 40%;
  width: 100%;
}
.productoDetalles {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.productoNombre {
  margin: 0;
  font-size: 25px;
  text-align: center;
}

.productoDescripcion {
  font-size: 15px;
  color: #555;
  margin: 0;
  word-wrap: break-word;
}

.productoComprar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productoInformacion {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productoInformacionItem {
  background-color: rgba(207, 203, 197, 0.884);
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.productoDisponible {
  border: 0;
  padding: 10px;
  border-radius: 15px;
  background-color: green;
  color: white;
}

.productoAgotado {
  display: none;
}
.stockProducto.agotado .productoDisponible {
  display: none;
}

.stockProducto.agotado .productoAgotado {
  border: 0;
  padding: 10px;
  border-radius: 15px;
  display: block;
  background-color: red;
  color: white;
}

.stockProducto {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 480px) {
  .productoContenedor {
    max-height: 400px;
  }

}
