.productoContenedor {
  display: flex;
  flex-direction: column;
  border: 1px solid #2C2C2C;
  border-radius: 15px;
  background-color: #1E1E1E;
  width: 290px;
  min-height: 350px;
  margin: 16px;
  z-index: 1;
}

.productoFoto {
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  width: 270px;
  height: 160px;
  object-fit: cover;
}
.productoDetalles {
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  
}

.productoNombre {
  margin: 0;
  color: white;
  font-size: 20px;
  text-align: center;
}

.productoDescripcion {
  font-size: 15px;
  color: white;
  margin: 0;
  word-wrap: break-word;
}

.productoComprar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productoInformacion {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productoInformacionItem {
  border: 1px solid black;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.productoDisponible {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-size: 12px;
  width: 200px;
}

.productoAgotado {
  display: none;
}
.stockProducto.agotado .productoDisponible {
  display: none;
}

.stockProducto.agotado .productoAgotado {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  display: block;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 200px;
}

.stockProducto {
  display: flex;
  justify-content: center;
}

.icono {
  vertical-align: middle;
}

@media only screen and (min-width: 480px) {
  .productoContenedor {
    min-height: 350px;
  }
}
