.detalle { 
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  gap: 4px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.comidasCarrito { 
  height: 80px;
  width: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.descripcionProducto p { 
  margin: 0;
  font-size: 15px;
}

.eliminarProducto { 
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.664);
  border-radius: 5px;
  color: white;
}

.eliminarProducto:hover { 
  background-color: red;
}


.listaProductos {  
  overflow-y: auto; 
  margin: 0;
}
