
.publicidad {
    margin-top: 60px;
}

.portada {
    background-image: url("/src/assets/img/4k2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.descripcion {
    background-color: white;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
}

.contenedorTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px
}

.titulo {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 0;
}

.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono {
    width: 110px;
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 60px;
}
.icono img {
    width: 90px;
    height: 90px;
}
.descripcionTitulo {
    text-align: center;
    opacity: .7;
}

.ambientes {
    padding: 40px 0px;
}

.contenedorFotos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    
    height: 280px;
    width: 280px;
    border-radius: 10px;
    
}
.descripcionFotos {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.referencia {
    padding: 10px;
    color: white;
    background-color: saddlebrown;
    display: flex;
    justify-content: center;
}


.derechosReservados {
    text-align: center;
}

.mapa {
    width: 280px;
    height: 280px;
    border: 0;
    border-radius: 20px;
}

.contenedorMapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 480px) {
  .carteleraDeComidas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }
  .contenedorFotos {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .descripcionFotos {
    max-width: 500px;
    min-width: 180px;
  }
  .ambientes {
    display: flex;
    justify-content: center;
  }
  .contenedorMapa {
    flex-direction: row;
  }

}
