.contenedor {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  text-align: center;
  margin: 30px;
  font-size: 30px;
  color: white;
}

.contenedorTabla {
  overflow-x: auto;
  height: 380px;
  background-color: white;
}

.tabla {
  border-collapse: collapse;
  min-width: 700px;
}

.tabla thead {
  background-color: rgb(255, 123, 0);
  position: sticky;
  top: 0;
}

.tabla thead th {
  padding: 10px 5px;
  color: white;
}

.tabla tbody td {
  padding: 10px 5px;
  text-align: center;
}

.btnEliminar {
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
}

@media only screen and (min-width: 480px) {
  .contenedor {
    flex-direction: row;
    align-items: center;
  }
}
