.opcionesDeInicio {
  background: #457b9d;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}


@media only screen and (min-width: 480px) {

}
