.opcionesDeInicio {
  background: rgb(255, 123, 0);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.titulo {
  display: none;
}

.menuLateral {
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: rgba(255, 123, 0, 0.795);
  transition: transform 0.6s ease;
  z-index: 2;
}

.ocultarDesplegable {
  transform: translateX(-100%);
}

.desplegarOpciones {
  transform: translateX(0);
}

.opcionesContenedor {
  list-style: none;
  padding-left: 0;
  text-align: left;
  margin-top: 0;
  padding: 10px;
}
.opciones {
  margin: 10px;
  padding: 10px;
}

.opcionesTexto {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.opcionesDeInicio button {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.botonCerrar {
  display: none;
}

.opcionesDeInicio.presionado .botonAbrir {
  display: none;
}

.opcionesDeInicio.presionado .botonCerrar {
  display: block;
}

.opcionesContenedorHorizontalPc {
  display: none;
}

.cerrarSesion {
  display: none;
}

.productosAdquiridos {
  display: none;
}

.icono {
  vertical-align: middle;
}

.obcionesDeTextoSoloIcono {
  display: none;
}

@media only screen and (min-width: 480px) {
  .menuLateral,
  .botonAbrir {
    display: none;
  }

  .opcionesContenedorHorizontalPc {
    display: flex;
    list-style: none;
    padding-left: 0;
    gap: 15px;
  }

  .opciones {
    margin: 3px;
    padding: 3px;
  }

  footer {
    display: flex;
  }

  footer .cerrarSesion {
    display: block;
    background-color: red;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
  }

  .cerrarSesionSoloIcono {
    display: none;
  }

  .titulo {
    display: block;
    font-size: 20px;
  }

  .tituloCarrito {
    margin-left: 20px;
    color: white;
  }

  .productosAdquiridos {
    display: flex;
    justify-content: end;
  }

  .carrito {
    position: fixed;
    background-color: rgb(255, 123, 0);
    border-radius: 10px 0px 0px 10px;
    margin-top: 60px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    min-width: 300px;
    z-index: 2;
    overflow-y: auto;
  }

  .desplegarPanelCarrito {
    display: flex;
  }

  .ocultarPanelCarrito {
    display: none;
  }

  .eliminarProducto:hover {
    background-color: red;
  }

  .detalle {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    margin: auto 10px 10px 10px;
  }
  .comprarProductosCarrito {
    background-color: rgb(0, 128, 0);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 5px;
    width: 200px;
    margin: auto;
  }

  .precio {
    margin: 5px;
    font-size: 20px;
  }
  .vacio {
    text-align: center;
    opacity: 0.6;
    margin-top: 50%;
    color: white;
  }
  .contador {
    background-color: red;
    color: white;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 7px;
    margin-left: 2px;
  }
}

@media only screen and (max-width: 720px) {
  .titulo {
    display: none;
  }
  footer .cerrarSesion {
    font-size: 10px;
    padding: 5px;
    display: none;
  }

  .cerrarSesionSoloIcono {
    display: block;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    padding: 5px;
  }
}
