.opciones-de-inicio {
    background: #457B9D;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    z-index: 2;
}


.menu-lateral {
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #146adb;
    transition: transform 0.6s ease;
    z-index: 2;
}

.ocultar-desplegable {
    transform: translateX(-100%);
    
}

.desplegar-opciones {
    transform: translateX(0);
}

.opciones-contenedor {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}
.opciones {
    margin: 10px;
}

.opciones-texto {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.opciones-de-inicio button {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.boton-cerrar {
    display: none;
}

.opciones-de-inicio.presionado .boton-abrir {
    display: none;
}

.opciones-de-inicio.presionado .boton-cerrar {
    display: block;
}
.opciones-contenedor-horizontal-pc {
    display: none;
}


@media only screen and (min-width: 480px) {
  .menu-lateral, .boton-abrir{
    display: none;
  }
  .opciones-contenedor-horizontal-pc {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: auto;
    gap: 15px;
  }
  .opciones-texto {
    color: white;
  }

}
