.cartelera-de-comidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

@media only screen and (min-width: 480px) {
  .cartelera-de-comidas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch; /* Esto hace que todos los hijos se estiren a la misma altura */
  }

}