.formularioContenedor {
  margin-top: 60px;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.titulo {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  color: white;
}

.formularioReservas {
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 123, 0);
}

.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputDatos {
  margin: 15px;
  width: 235px;
}

.inputDatos input {
  height: 30px;
  margin: 3px;
  width: 225px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
}

.inputDatos label {
  color: white;
}

.busquedaComboBox {
  width: 235px;
  height: 30px;
  border-radius: 10px;
  outline: none;
}

.seccionDeEnvio {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.btnEnviar {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(1, 89, 252);
  color: white;
  font-size: 12px;
  width: 200px;
}

@media only screen and (min-width: 480px) {
  .inputDatos input {
    height: 35px;
    width: 250px;
    margin: 3px;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  .inputDatos {
    width: 260px;
  }
  .formularioReservas {
    width: 360px;
  }
  .busquedaComboBox {
    width: 260px;
    height: 35px;
    border-radius: 10px;
  }
}
